<!-- Header -->
<header class="styleguide-header">
    <div class="row">

        <div class="col-4">
            <h1 class="logo"><a href="{{ container.project.styleguide_url }}/">Mash Snack</a></h1>
            <span class="tagline">Guia de Estilos</span>
            <span class="project">{{ container.project.name }}</span>
        </div>

        <div class="col-8 last">
            <nav class="styleguide-navbar">
                <ul class="menu">
                    {% for item in container.project.menu %}
                    <li class="styleguide-menu-{{ item.class }}">
                        <a href="{{ container.project.styleguide_url ~ item.link }}">{{ item.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>

        </div>
    </div>
</header>
