<nav class="styleguide-navbar">
    <a class="styleguide-heading" href="{{ container.styleguide_url }}">Guia de Estilo <span class="block">{{ container.project }}</span></a>
    <ul id="styleguide-menu" class="styleguide-menu">
        <li class="styleguide-menu-buttons">
            <a href="{{ container.styleguide_url }}/botoes/">Botões</a>
        </li>
        <li class="styleguide-menu-forms">
            <a href="{{ container.styleguide_url }}/formularios/">Formulários</a>
        </li>
        <li class="styleguide-menu-colors">
            <a href="{{ container.styleguide_url }}/cores/">Cores</a>
        </li>
        <li class="styleguide-menu-grid">
            <a href="{{ container.styleguide_url }}/grid/">Grid</a>
        </li>
        <li class="styleguide-menu-layouts">
            <a href="{{ container.styleguide_url }}/layouts/">Layouts</a>
        </li>
    </ul>
</nav>
