<nav class="styleguide-navbar">
    <a class="styleguide-heading" href="#">Guia de Estilos <span class="block">{{ container.project }}</span></a>
    <ul class="styleguide-menu">
        <li><a href="{{ container.styleguide_url }}/">Sobre</a></li>
        <li><a href="{{ container.styleguide_url }}/botoes/">Botões</a></li>
        <li><a href="{{ container.styleguide_url }}/">Cores</a></li>
        <li><a href="{{ container.styleguide_url }}/">Grid</a></li>
        <li><a href="{{ container.styleguide_url }}/">Layouts</a></li>
    </ul>
</nav>